alabaster==0.7.12
awscli==1.16.272
Babel==2.7.0
botocore==1.13.8
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==4.5.4
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
idna==2.8
imagesize==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==19.2
pip==19.0.3
pyasn1==0.4.7
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
setuptools==40.8.0
six==1.12.0
snowballstemmer==2.0.0
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
urllib3==1.25.6
